<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Students</title>
</head>
<body>
    <h2>Student Database</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>PRN</th>
            <th>Class</th>
            <th>Email</th>
            <th>Phone No</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student[0] }}</td>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td>{{ student[4] }}</td>
            <td>{{ student[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
